@use '../../styles/_breakpoints' as breakpoints;
@use '../../styles/mixins' as mixins;

.button {
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;

  &:focus-visible {

    @include mixins.focusRing();
  }

  &.primary {
    background-color: var(--color-primary-green);
    color: #fff;
    font-weight: 500;
  }

  &.secondary {
    background-color: #fff;
    border: 1px solid var(--color-light-grey);
    color: var(--color-dark-grey);
  }

  &.small {
    font-size: 16px;
    padding: 8px 16px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &.medium {
    font-size: 16px;
    padding: 12px 24px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  svg {

    path {
      fill: var(--color-dark-grey);
      stroke: var(--color-dark-grey);
    }
  }

  @include breakpoints.breakpoint-mob-tab() {
    &.small {
      padding-inline: 24px;
    }
  }
}