@use '../../styles/_breakpoints' as breakpoints;
@use '../../styles/mixins' as mixins;

.searchHeader {
  background-color: var(--color-lighter-grey);
  box-shadow: 1px 0px 6px 2px var(--color-light-grey);
  position: sticky;
  top: 0;
  z-index: 1;

  .searchHeaderContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
  }

  .searchInput {
    border: 1px solid var(--color-mid-grey);
    border-radius: 8px;
    height: 48px;
    font-size: 16px;
    padding: 8px;
    width: 100%;

    &:focus-visible {

      @include mixins.focusRing();
    }
  }

  .controls {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    .sort {
      align-items: center;
      display: flex;
      flex: 1;

      .sortLabel {
        width: 40px;
      }

      .sortSelect {
        border-color: var(--color-light-grey);
        border-radius: 8px;
        color: var(--color-dark-grey);
        flex: 1;
        font-size: 16px;
        height: 40px;
        padding: 8px;

        &:focus-visible {

          @include mixins.focusRing();
        }
      }
    }
  }

  @include breakpoints.breakpoint-mob-tab() {

    .searchHeaderContent {
      flex-direction: row;
      justify-content: space-between;
    }

    .controls {
      max-width: 400px;
      width: 100%;

      .sort .sortSelect {
        height: 48px;
      }
    }

    .searchInput {
      max-width: 50%;
    }
  }
}