@use '../../styles/_breakpoints' as breakpoints;

.header {
  background-color: #fff;
  position: relative;
  z-index: 1;

  .headerContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
  }

  .logoLink {
    display: flex;
    width: 150px;

    svg {
      fill: var(--color-primary-blue);
    }
  }

  .headerNav ul {
    display: flex;
    gap: 16px;

    li {
      align-items: center;
      display: flex;
    }

    .desktopLink {
      display: none;
    }

    // @include breakpoints.breakpoint-mob-tab() {
    //   .desktopLink {
    //     display: flex;
    //   }

    //   .mobileLink {
    //     display: none;
    //   }
    // }
  }

  .login,
  .menu {
    display: flex;
    padding: 8px;

    svg,
    path {
      fill: var(--color-dark-grey);
      height: 32px;
      object-fit: cover;
      width: 32px;
    }
  }

  @include breakpoints.breakpoint-mob-tab() {
    .logoLink {
      width: 200px;
    }

    .headerNav ul {
      .desktopLink {
        display: flex;

        a {
          align-items: center;
          color: var(--color-dark-grey);
          display: flex;
          font-size: 18px;
          padding: 8px 16px;
          text-decoration: none;

          &::after {
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><path d='M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z' fill='%2371717a'/></svg>");
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 8px;
          }
        }
      }

      .mobileLink {
        display: none;
      }
    }
  }
}